<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>插入文本</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div>
	请选择展示形式：
	<input type="radio" id="one" value="face" v-model="classValue">
	<label for="one">笑脸</label>&nbsp;&nbsp;
	<input type="radio" id="two" value="msg" v-model="classValue">
	<label for="two">信息</label>
	<div class="{{ classValue }}">{{ innerText }}</div>
</div>
</body>
</html>